.main-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  height: 50vh;
  width: 40vw;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

form h3 {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.form-field {
  height: 17%;
  width: 70%;
}

input {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgb(188, 188, 188);
  padding-left: 10px;
}

button {
 width: 70%;
 height: 15%;
 border-radius: 10px;
 border: none;
 cursor: pointer;
}